.navList {
  li {
    display: flex;
    align-items: center;
    margin-right: var(--spacing-21);
    margin-left: var(--spacing-21);
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      background-color: var(--gray-2);
      color: var(--gray-0);
      border-radius: .375rem;
    }

    a {
      display: flex;
      width: 100%;
      padding: var(--spacing-21) var(--spacing-2);
    }

    :global(.active) {
      color: var(--primary-default);
    }

    .navList__icon {
      display: flex;
      margin-right: var(--spacing-21);
    }
  }
}

:global(.footerNav).navList  {
  display: flex;

  li {
    flex: 1;
    margin: 0;

    a {
      flex-direction: column;
      align-items: center;
      padding: var(--spacing-3) var(--spacing-1);
    }

    span {
      margin-right: 0;
    }

    p {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
}



