:root {
    /*COLORS*/
    --gray-0: #ffffff;
    --gray-2: #e3e3e3;
    --gray-6: #484848;
    --gray-7: #333333;
    --gray-9: #111111;
    --gray-10: #000000;

    --primary-default: #3872fa;

    --backdrop-color: rgba(255, 255, 255, 0.2);
    --backdrop-blur: blur(1rem);
    --card-shadow: rgba(255, 255, 255, 0.3);

    /*MARGINS AND PADDINGS*/
    --spacing-1: 0.4rem;
    --spacing-2: 0.8rem;
    --spacing-21: 1rem;
    --spacing-3: 1.2rem;
    --spacing-4: 1.6rem;
    --spacing-5: 1.8rem;
    --spacing-6: 2rem;
    --spacing-7: 2.2rem;
    --spacing-8: 2.4rem;
}
