.financeForm {

  &__container {
    padding: 1.5rem;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;

    @media screen and (min-width: 768px) {
      top: 0;
      min-width: 25rem;
      max-width: 40rem;
      max-height: 35rem;
    }
  }

  &__fieldset {
    min-height: 25rem;
  }

  &__radiogroup {
    background-color: var(--gray-2);
    padding: .5rem;
    border-radius: 15px;
  }

  .radioLabel {
    flex: 1;
    text-align: center;
    border-radius: 15px;
    padding: 0 1rem;
    background-color: var(--gray-2);

    &:hover {
      cursor: pointer;
    }
  }

  .radioLabelChecked {
    background-color: var(--primary-default);
    color: var(--gray-0);
  }

  &__field {
    padding: .5rem 1rem;
    border-radius: 25px;
    background-color: var(--gray-2);
    margin-bottom: 1rem;

    input[type="number"] {
      text-align: right;
      background-color: inherit;
      border: 2px solid var(--gray-2);

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--primary-default);
        border-radius: inherit;
      }
    }

    input[type="search"] {
      background-color: inherit;
      border: 2px solid var(--gray-2);

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--primary-default);
        border-radius: 15px;
      }
    }

    select {
      text-align: left;
      border: none;
      background-color: var(--gray-0);
      border-radius: 15px;
      box-shadow: 0 0 0 1px var(--gray-6);

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px var(--primary-default);
      }
    }

    button[type="button"] {
      cursor: pointer;
      text-align: center;
      border: none;
      background-color: inherit;
      border-radius: 15px;
    }


    .categoriesList {
      ul {
        gap: 1.6rem;
      }

      li {
        flex: 0 0 calc(25% - 1.2rem);
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
      }

      button {
        width: 100%;
        height: 100%;
        border: none;
        color: inherit;
        background-color: var(--grey-2);
      }

      svg {
        padding: 0.5rem;
        border: 2px solid currentColor;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        color: inherit;
      }

      span {
        color: var(--gray-9);
        font-size: 1rem;
      }

    }


  }


}

