.financeForm__container {
  padding: 1.5rem;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .financeForm__container {
    top: 0;
    min-width: 25rem;
    max-width: 40rem;
    max-height: 35rem;
  }
}
.financeForm__fieldset {
  min-height: 22rem;
}
.financeForm__radiogroup {
  background-color: var(--gray-2);
  padding: 0.5rem;
  border-radius: 15px;
}
.financeForm .radioLabel {
  flex: 1;
  text-align: center;
  border-radius: 15px;
  padding: 0 1rem;
  background-color: var(--gray-2);
}
.financeForm .radioLabel:hover {
  cursor: pointer;
}
.financeForm .radioLabelChecked {
  background-color: var(--primary-default);
  color: var(--gray-0);
}
.financeForm__field {
  border-radius: 25px;
  background-color: var(--gray-2);
  margin-bottom: 1rem;
}
.financeForm__field select {
  text-align: left;
  border: none;
  background-color: var(--gray-0);
  border-radius: 15px;
  box-shadow: 0 0 0 1px var(--gray-6);
}
.financeForm__field select:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-default);
}
.financeForm__field button[type=button] {
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: inherit;
  border-radius: 15px;
}
.financeForm__field input[type=number] {
  text-align: right;
  background-color: inherit;
  border: 2px solid var(--gray-2);
}
.financeForm__field input[type=number]:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-default);
  border-radius: inherit;
}
.financeForm__field input[type=search] {
  background-color: inherit;
  border: 2px solid var(--gray-2);
}
.financeForm__field input[type=search]:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-default);
  border-radius: 15px;
}
.financeForm__field input[type=date] {
  background-color: inherit;
  border: none;
}
.financeForm__field input[type=date]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-default);
}
.financeForm__field input[type=submit] {
  flex: 1;
  border: none;
  background-color: var(--primary-default);
  color: var(--gray-0);
  border-radius: 15px;
}
.financeForm__field input[type=submit] :disabled {
  background-color: var(--gray-2);
}
.financeForm__field .categoriesList ul {
  gap: 1.6rem;
}
.financeForm__field .categoriesList li {
  flex: 0 0 calc(25% - 1.2rem);
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
.financeForm__field .categoriesList button {
  height: 100%;
  padding: 0.5rem;
  border: none;
  color: inherit;
  background-color: var(--grey-2);
  border-radius: 1.5rem;
}
.financeForm__field .categoriesList button:hover {
  cursor: pointer;
  background-color: var(--card-shadow);
}
.financeForm__field .categoriesList svg {
  padding: 0.5rem;
  border: 2px solid currentColor;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: inherit;
}
.financeForm__field .categoriesList span {
  color: var(--gray-9);
  font-size: 1rem;
}
.financeForm__field .categoryButton {
  align-self: stretch;
}
.financeForm__field .categoryButton svg {
  vertical-align: middle;
}

/*# sourceMappingURL=FinanceForm.module.css.map */
